@import "colours";

.about-container {
    display: flex;
    .inner-wrapper {
        position: relative;
        z-index: -1;
        background: $accentThree;
    }
}

.about-photo {
    width:50%;
    position: relative;
    z-index: 1;
}

.about-links {
    display: flex;
    justify-content: space-between;
}

.about-header {
    h2 {
        display: inline-block;
        margin: 0;
    }
    p {
        font-size: 1.8rem;
    }
}

em {
    color: red;
    font-style: normal;
    font-weight: bold;
}

.attributes {
    background: white;
    display: flex;
    justify-content: space-between;
/*     padding: 20px;
    margin: 0;
    width: 71%;
    position: relative;
    left: 28%;
    bottom: 95px;
    z-index: 1; */
}
.attr-cont {
    box-shadow: 10px 10px 5px lightgrey;
    border-right: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding: 20px;
    margin: 0;
    width: 71%;
    position: relative;
    left: 23%;
    top: -71px;
    z-index: 1;
    background: white;
    flex-shrink: 2;
    p {
        margin: 0;
        color: red;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.attr-des {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.about-header {
    padding: 35px;
    h2 {
        margin: 0;
    }
}

.attr-icon {
    margin: 0 auto;
    color: black;
    text-align: center;
    i {
        font-size: 6rem;
    }
    p {
        font-weight: bold;
    }
}

.about-quote {
    display: none;
}