// Typewrite effect
header {
    .typewrite {
        padding-left: 30px;
        color: red;
    }
}


.come-in {
  transform: translateY(250px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
      transform: translatex(0); 
    }
}