.blog-post {
    margin: 90px 0;
    background: $secondary;
    display: flex;
    width: 80%;
    padding-bottom: 20px;
    a {
        display: flex;
        position: relative;
    }
    .blog-image {
        width: 45%;
        position: absolute;
        z-index: 1;
        left: -20px;
        bottom: 23px;
    }

    .blog-des {
        padding: 30px;
        width: 60%;
        position: relative;
        left: 42%;
    }   
}

.blog-des {
    blockquote {
        display: block;
        background: white;
        padding: 20px;
        position: relative;
        right: 142px;
        z-index: 1;
        font-size: 2rem;
        width: 100%;
    }
    blockquote::before {
        content: '“';
        position: absolute;
        color: red;
        width: 10%;
        height: 59px;
        font-size: 18rem;
        bottom: 106px;
        left: -45px;
        }
    blockquote::after {
        content: '”';
        position: absolute;
        color: red;
        width: 10%;
        height: 59px;
        font-size: 18rem;
        bottom: 38px;
        }
}

.reverse {
    background: $tererary;
    position: relative;
    margin-left: 20%;
    .blog-des {
        left: 0;
    }
    .blog-image {
        left: 60%;
        bottom: 23px;
        }
    blockquote {
        position: relative;
        z-index: 2;
        font-size: 2rem;
        left: 277px;
    }
    h3 {
        text-align: right;
    }
}