@import "colours";

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

#contact {
    form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

form {
    input, textarea {
        margin: 1%;
        border: 1px solid $primary;
        font-size: 1.8rem;
    }
    input {
        padding: 5px;
        width: 50%;
    }
    .name-address {
        display: flex;
    }
    textarea {
        width: 98%;
    }
}
// footer

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
    background: $secondary;
    padding: 30px;
    box-shadow: 4px,4px,4px grey;
    position: relative;
    .contact-form, .connect {
      width: 100%;
    }
    .connect {
        padding: 0;
        margin: 0;
    }
    .contact-form {
        padding: 31px;
    }
    .head {
        margin: 1%;
    }
}
.connect-header {
    text-align: center;
    font-size: 3rem;
}
.connect-icons {
    padding: 0;
    margin: 0;
            display: flex;
        justify-content: center;
        justify-content: space-evenly;
    li {
        margin: 10px 0;
        list-style-type: none;
    }
    a {
        display: flex;
    }
    p {
        margin:0;
        margin-left:10px;
    }
    i {
        font-size: 3rem;
    }
}

input[type=submit], button {
    background: red;
    border: 1px solid red;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    width: 60%;
    padding: 8px 5px;
    margin: 0 auto;

}
