header {
    background-image: url("/public/assets/header.jpg");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    padding-top: 100px;
}

.small-head {
    font-size: 5.5rem;
    display: block;
    color: red;
    font-weight: 800;
}