header {
    background-image: url("/public/assets/header-photo.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.small-head {
    font-size: 4.5rem;
    display: block;
    color: white;
}