@media only screen and (max-width: 1020px) {

    h2 {
        font-size: 3.5rem;
    }
    // about section
    .inner-wrapper {
        width: 90%;
    }

    .about-header {
        p {
            font-size: 1.6rem;
        }
    }
    .attr-cont {
        top: 126%;
        width: 76%;
    left: 19%;
    }

    // blog section
    .blog-post {
        width: 90%;
    }
}

@media only screen and (max-width: 880px) {

    h1 {
        padding-left: 154px;
    }

    // about section
    .attr-cont {
        position: relative;
        .attr-icon i {
            font-size: 4rem;
            }
        p {
            font-size: 1.8rem;
        }
    }

    .about-container {
        flex-direction: column;
        .inner-wrapper {
            width: 100%;
        }
    }

    .about-quote {
        display: block;
        position: absolute;
        font-size: 4.8rem;
        color: red;
        bottom: 10px;
        left: 100%;
    }
    
    .inner-wrapper {
        width: 97%;
    }

    .attr-cont {
        position: relative;
        width: 100%;
        left: 0;
    }

    // skills section

    #skills {
        padding: 40px 50px;
    }

    // portfolio section

    .visit-port-links {
        margin-top: 11%;
    }
        .port-link {
        max-height: 360px;
    }

    // blog section

    .reverse {
            margin-left: 8%;
    }

    h3 {
        font-size: 2.5rem;
    }

    .blog-des {
        blockquote {
            right: 102px;
        }
    }

    .reverse {
        blockquote {
                left: 57px;
        }
    }

    .blog-des blockquote::before {
        font-size: 11rem;
        bottom: 106px;
        left: -28px;
    }

    .blog-des blockquote::after {
        height: 59px;
        font-size: 11rem;
        bottom: 12px;
    }
}

@media only screen and (max-width: 740px) {
    h1 {
    padding-left: 80px;
}
    // about section
    .about-header p {
    font-size: 2rem;
}
    .attr-des {
        p {
            text-align: center;
            font-size: 1.4rem;
        }
    }

    // skills section

    // portfolio section
    .flickity-enabled.is-draggable {
        padding-top: 55px;
    }
    .port-body {
        p {
            font-size: 1.8rem;
        }
    }

    .port-header {
        font-size: 3rem;
    }

    // blog section {
        .blog-post {
            a {
                flex-direction: column;
            }
            .blog-image {
                position: static;
                width: 100%;
            }
            .blog-des {
                left: 0;
                width: 100%;
            }
            blockquote {
                right: 0;
                width: 100%;
            }
            blockquote::before {
            font-size: 11rem;
            bottom: 87px;
            left: -28px;
        }
    }
        .reverse {
            blockquote {
                left: -89px;
            }
        }

    // footer section
    .footer-content {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        background: $secondary;
        padding: 30px;
        box-shadow: 4px,4px,4px grey;
        position: relative;
    .contact-form, .connect {
      width: 40%;
    }
    .connect {
        position: absolute;
        right: 0;
        background: white;
        width: 53%;
        padding: 29px;
        box-shadow: 10px 10px 10px grey;
        top: -152px;
    }
    .contact-form {
        width: 100%;
        padding: 31px;
    }
    .connect-icons {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
}

@media only screen and (max-width: 710px) {
    // navigation
    #menuToggle, .menu-icon {
        display: block;
    }

    header {
        .inner-wrapper {
            position: relative;
        }
        .typewrite {
            padding-left: 8px;
        }
    }

    .small-head {
        padding-top: 12px;
    }

    .page-menu {
        width: 240px;
        height: 305%;
        position: absolute;
        background: $primary;
        left: -289px;
        transition: all .3s ease-in-out;
        flex-direction: column;
        li {
            padding: 12px 0;
        }
        li:hover {
            background: white;
        }
    }

    .menu-icon {
        padding: 10px 20px;
        color: red;
        cursor: pointer;
        float: right;
        margin: 6px 6px 0 0;
        border-radius: 5px;
        top: 100%;
        font-size: 5rem;
    }
        #menuToggle { 
            display: none; 
        }

        #menuToggle:checked ~ .page-menu { 
            position: absolute; 
            left: 0; 
        }

        .typewrite {
            font-size: 3rem;
        }

    // skills section
    .skills-container {
            width: 24%;
        p {
            font-size: 2.5rem;
        }
        i {
            font-size: 5rem;
        }
    }
}

@media only screen and (max-width: 680px) {
    // about section

    .about-header {
        p {
            font-size: 1.5rem;
        }
    }

    .about-quote {
        font-size: 3.8rem;
    }

    // portfolio section
    .port-parent {
        flex-direction: column;
        .port-link {
            width: 100%;
            max-height: 100%;
        }
        .port-des {
            width: 100%;
            order: 2;
        }
        .visit-port-links {
            margin-bottom: 10px;
        }
    }
    .port-des {
        .port-header:nth-child(even) {
            text-align: right;
        }
    }


    .flickity-enabled.is-draggable {
        padding-top: 0;
    }

    .flickity-viewport {
        height: 337px;
    }

    // blog section

    .blog-des {
        blockquote::after, blockquote::before {
            display: none;
        }
    }
    .reverse {
        margin-left: 1%;
        blockquote {
            left: -81px;
        }
    }

    .read-hover {
        display: inline-block;;
    }
    
}

@media only screen and (max-width: 645px) {

    h1 {
            font-size: 5rem;
    }

    // about section {
        .attr-cont {
            p:first-child {
                font-size: 1.55rem;
            }
            p {
                font-size: 1.3rem;
            }
            i {
                font-size: 3rem;
            }
        }
    
        .attributes {
             padding: 0;
        }

    // skills section
    .skills-container {
        width: 20%;
    }

    .head {
        font-size: 3rem;
    }

    // footer section
    .footer-content {
        .connect {
            width: 100%;
        }
            .connect-header {
                margin: 0;
                text-align: center;
            }
    }
}

@media only screen and (max-width: 580px) {
    h1 {
        padding-left: 56px;
    }

    // about section
    .about-quote {
        font-size: 3rem;
    }
    // blog section
    .blog-post {
        width: 100%;
    }

    // skills section
    #skills {
        padding: 40px 30px;
    }

    // footer section

    .footer-content {
        .contact-form {
            padding: 0;
        }
    }
        // footer section

    .connect-icons {
        i {
            width: 43.3%;
        }
    }

}

@media only screen and (max-width: 520px) {
    // header section
    h1 {
        font-size: 4.5rem;
    }
    .small-head {
        padding-top: 30px;
    }

    .typewrite {
        font-size: 2.7rem;
    }
}

@media only screen and (max-width: 485px) {
    // header section
    h1 {
        font-size: 3.5rem;
    }

    .small-head {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .page-menu {
    width: 163px;
    }

    // about section
    .attributes {
        flex-direction: column;
        height: 113px;
        flex-wrap: wrap;
    }
    .about-header {
        padding: 11px;
    }
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 2.5rem;
    }

    // header

    header {
        background-position: 27%;
        height: 47vh;
    }

    .attr-cont {
        p {
            font-size: 1.25rem;
        }

        .attr-icon {
            i {
                font-size: 3rem;
            }
        }
    }

    .inline-link {
        font-size: 1.5rem;
    }

    // skills section

    .skills-container {
        width: 14%;
        i {
            font-size: 4rem;
        }
        p {
            font-size: 2rem;
        }
    }

    // blog section
    .blog-post {
        .blog-des {
            padding: 20px;
        }
    }

    // footer section
    .connect-icons {
        p {
            display: none;
        }
    }
    .about-quote {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
    .small-head {
        font-size: 4rem;
    }
    .about-quote {
        font-size: 2rem;
        font-weight: bold;
    }
    h2 {
        font-size: 2.2rem;
    }

    // skills section

    #skills {
        padding: 10px 11px;
    }
}

@media only screen and (max-width: 380px) {
    // general styles
    .inline-link {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 2rem;
    }

    section {
        padding: 15px 0;
    }

    // about section 
    .about-quote {
        font-size: 1.8rem;
    }

    // skills section

    .skills-container {
        p {
            font-size: 1.7rem;
        }
    }

    // footer section

    .footer-content {
        padding: 20px;
        .connect {
            top: -122px;
        }
    }

    .head {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 350px) {
    h1 {
        padding-left: 31px;
    }

    // header section

    .typewrite {
        font-size: 2rem;
    }
}