.port-parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    background: $accentTwo;
    .port-body {
        padding: 25px;
    }
    .port-link {
        width: 50%;
        background: $primary;
        float: left;
        position: relative;
    }
    .port-des {
        width: 50%;
        background: $accentTwo;
    }
}

.port-des {
    .port-header {
        display: block;
        background: white;
        margin: 0;
        padding: 20px;
    }
}

.create-icons {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    i {
        font-size: 4rem;
        color: red;
    }
}