#skills {
    background: $tererary;
    .skills-parent {
        background: $accentTwo;
        padding: 3%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-shrink: 2;
    }
}

.skills-container {
    width: 28%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    div {
        margin: 0 auto;
        text-align: center;
        -webkit-text-align: center;
        color: black;
    }
    i {
        font-size: 8rem;
        color: red;
    }
    p {
        text-align: center;
        font-size: 3rem;
        color: red;
    }
}

