nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    li {
        list-style-type: none;
    }
    a {
        padding: 10px;
        margin: 0 5px;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 800;
        transition: all 0.2s ease;
        position: relative;
        color: black;
    }
    a::before {
        content: "<";
        position: absolute;
        color: transparent;
        left: -2px;
        transition: all 0.3s ease-in;
    }
    a::after {
        content: ">";
        position: absolute;
        color: transparent;
        right: -2px;
        transition: all 0.3s ease-in;
    }
    a:hover::before {
        content: "<";
        position: absolute;
        color: red;
        left: -2px;
    }
    a:hover::after {
        content: ">";
        position: absolute;
        color: red;
        right: -2px;
    }
}

    #menuToggle, .menu-icon {
        display: none;
    }

    .header-text {
        h2 {
            padding-left: 30px;
        color: black;
        margin: 0;
            a {
                color: black;
                position: relative;
                top: 10px;
                font-size: 3rem;
            }
            a {
                color: black;
                position: relative;
                top: -32px;
                font-size: 3rem;
                right: 51px;
            }
        }
    }

    // navigation link hamburger bar

    .hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-icon.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}