@import "setup";
@import "./top-nav";
@import "header";
@import "about";
@import "skills";

// general styles

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

// wrappers

.inner-wrapper {
    width: 80%;
    margin: 0 auto;
}

// Typography
a {
    text-decoration: none;
}

h1 {
    font-size: 6rem;
    color: white;
    display: inline-block;
    background: rgba(255, 0, 0, 0.5);
    width: 100%;
}