@import "setup";
@import "colours";
@import "./top-nav";
@import "header";
@import "about";
@import "skills";
@import "portfolio";
@import "form";
@import "blog";

// general styles

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

// wrappers

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.inner-wrapper {
    width: 80%;
    margin: 0 auto;
}

// Typography
a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 800;
    font-size: 6rem;
    color: white;
    display: inline-block;
    background: rgba(255, 0, 0, 0.7);
    width: 100%;
    padding: 10px;
    padding-left: 217px;
    margin-top: 0;
}

h2 {
    font-size: 4.5rem;
    font-weight: 800;
}

h3 {
    font-size: 3rem;
}
p {
    font-size: 2rem;   
}

// Sections
section {
    padding: 40px 0;
}